[submodule "thirdparty/PowerRecomp"]
	path = thirdparty/PowerRecomp
	url = https://github.com/hedge-dev/PowerRecomp
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "thirdparty/unordered_dense"]
	path = thirdparty/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
