[submodule "thirdparty/PowerRecomp"]
	path = thirdparty/PowerRecomp
	url = https://github.com/hedge-dev/PowerRecomp
[submodule "thirdparty/ddspp"]
	path = thirdparty/ddspp
	url = https://github.com/redorav/ddspp.git
[submodule "thirdparty/ShaderRecomp"]
	path = thirdparty/ShaderRecomp
	url = https://github.com/hedge-dev/ShaderRecomp.git
[submodule "thirdparty/libmspack"]
	path = thirdparty/libmspack
	url = https://github.com/kyz/libmspack
[submodule "UnleashedRecompResources"]
	path = UnleashedRecompResources
	url = https://github.com/hedge-dev/UnleashedRecompResources.git
[submodule "thirdparty/msdf-atlas-gen"]
	path = thirdparty/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
